/* Variables */
$vertical_line_right_offset: 8.6rem;
$vertical_line_thickness: 0.8rem;
$vertical_line_red : #c33e3f;
$vertical_line_blue : #4888ea;
$small_circle_right_offset: -1.4rem;
@mixin circle($radius) {
	border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	width : 2 * $radius;
	height: 2 * $radius;
}
.nta-header{
	.pic-section{
		padding:0;
		height:45rem;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	    border-bottom: 3px solid black;
	    
	    .black-band{
	    	background-color:rgba(0,0,0,0.6);
	    	height:7em;
	    	h1{
	    		color:white;
/* 	    		padding-right:4em; */
	    		padding-top:0.3em;
	    	}
	    	h4{
	    		color:white;
	    		padding-top:1.7em
	    	}
	    	#circle{
	    		@include circle(5rem);
				position:absolute;
				bottom: -5rem;
				right: 4rem;
				background-size: 8rem;
    			background-repeat: no-repeat;
   				background-position: center center;				
	    	}
	    	#line{
				position:absolute;
				border-right: $vertical_line_thickness solid;
			    top: 5rem;
			    right: $vertical_line_right_offset;
			    height: 5rem;					    		
	    	}
	    }
	}
	
	.map-section{
		padding:0;
		height:45rem;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    overflow: hidden;
	    border-bottom: 3px solid black;
	}
}
.nta-body{
	.text-section{
		padding-right:$vertical_line_right_offset;
		li{
			line-height:3em;
		}
    	.text-about , .text-information , .text-activity{
			border-right: $vertical_line_thickness solid;
			padding-bottom:1rem;
    	}
    	.text-information {
    		border-color: $vertical_line_red;
    		h3{
    			margin-top:0;
    			.info-circle{
    				display:block;
    				position: absolute;
    				right: $small_circle_right_offset;
    				top: 0;
    				@include circle(1rem);
					background-color:$vertical_line_red;
    			}
    		}
    		h4{
    			.small-tab{
    				display:block;
    				position: relative;
    				right:-1.5rem;
    				top: -1rem;
					width:1rem;
					height: 0.5rem;    				
					background-color:$vertical_line_red;
    			}
    		}
    	}
    	.text-activity {
    		border-color: $vertical_line_blue;
    		h3{
    			margin-top:0;
    			.activity-circle{
    				display:block;
    				position: absolute;
    				right: $small_circle_right_offset;
    				top: 0;
    				@include circle(1rem);
					background-color:$vertical_line_blue;
    			}
    		}
    	}
    	
    			
	}
	.banner-section{
		padding-top:2em;
		
		.banner{
			background-color:#1d1d1d;
			height:10rem;
			margin-bottom: 2rem;
			.icon{
				padding-top:1em;
				i{
					color:#628eef;
					font-size:5em;			
				}
			}
			.text{
				padding-top:0.5em;
				line-height:2em;
				color:#d2d2d2;
				span{
					font-size:0.8em;
				}
			}
			#metric{
				padding-top:1.5em;
				font-size:1em;
				color:#d2d2d2;
				
			}
			#temp{
				padding-top:0.2em;
				font-size:4em;
				color:#d2d2d2;
				text-align:center;
			}
		}
	}
	
}