.results-container{
	padding-top:2em;
	.top-row{
		background-color:white;
		padding:1rem;
		margin-bottom:1rem;
		.insert-new{
			float:left;
			i{
				padding-left:0.5em;
			}
		}
		.hint-text{
			display:inline-block;
			padding-top:0.7em;
			i{
				margin-left:0.5em;
			}
		}
	}
	.nta-row{
		background-color:white;
		margin-bottom:1rem;
		.picture{
			padding:0;
			height:16rem;
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: cover;
		    overflow: hidden;
		}
		
	}
}